.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;

  @media (max-width: 768px) {
    justify-content: center;
  }

  @media (max-width: 480px) {
    flex-direction: column;
  }
}